# Servidor
PORT=8082
API_URL=http://localhost:8082

# Base de datos
HOST=localhost
PORT_DB=3306
USER_DB=root
DB_PASSWORD=tu_contrasena_aqui
DB_NAME=rutago_db

# CORS
FRONTEND_URL=http://localhost:5173

# JWT
JWT_SECRET=cambia_esto_por_una_clave_segura
